/*Entire background*/
body{
    background-image: url(Images/black-hole-BG.gif);
    background-size: 1550px 800px;
    position: absolute;
    right: 5px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
/*Fonts used*/
@font-face {
    font-family: 'andromeda';
    src:url(Fonts/Andromeda.ttf);
}
@font-face{
    font-family: 'atures';
    src: url(Fonts/Atures.ttf);
}
@font-face{
    font-family: 'trenchthin';
    src: url(Fonts/TrenchThin.ttf);
}
@font-face{
    font-family: 'milford';
    src: url(Fonts/MilfordLight.ttf);
}
/*Animations*/
@keyframes bounce {   /*BOUNCE ANIMATION*/
    0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform:translateY(0);
    transform: translateY(0);
    }
    40% {
    -webkit-transform:translateY(-15px);
    transform: translateY(-15px);
    }
    60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    }
}
/*IMAGES SETTINGS*/
img{
    padding: 3px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 5px 15px rgba(224, 91, 2, 0.507);
}
/*Main title of the blog*/
h1 { 
    animation-name: bounce;
    animation-duration: 3s;
    animation-delay: 0ms;
    right: 500px;
    font-family: 'andromeda';
    position: absolute;
    top: 215px;
    font-size: 120px;
    font-weight: normal;
    font-style: normal;
    color: #33393d;
    background:linear-gradient(#685f5f,#e4d9d9,#ada7a7);
    text-shadow: 2px 1px 8px rgba(224, 91, 2, 0.507);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}  
/*HEADING TAGS*/
h2{
    font-family: 'atures';
    font-size: 40px;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    font-style: normal;
    color: #af9f9f;
    text-shadow: 2px 1px 8px rgba(224, 91, 2, 0.507);
}
h3{
    font-family: 'trenchthin';
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    color: #af9f9f;
    text-shadow: 2px 1px 8px rgba(224, 91, 2, 0.507);
}
label{
    font-family: 'milford';
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    vertical-align: top;
    color: #af9f9f;
    text-shadow: 2px 1px 8px rgba(224, 91, 2, 0.507);
}
/*BODY OF THE BLOG*/
div{
    width: 1550px;
    height: 4300px;
    top: 700px;
    position: absolute;
    right: -13px;
    background-color: black;
}
div1{
    position: absolute;
    width: 1150px;
    height: 4100px;
    padding: 30px;
    right: 150px;
    top: 0px;
    display: block;
    object-position: center;
    background: rgba(50, 54, 58, 0.5);
    box-shadow: 5px 0px 8px rgba(233, 117, 39, 0.507);
}
/*gas around blackhole image box*/
divI1{
    width: 35px;
    height: 35px;
    position: fixed;
    top: -200px;
    right: -1025px;
    bottom: 0px;
}
/*Structure of black hole image box*/
divI2{
    width: 35px;
    height: 35px;
    position: fixed;
    left: 5px;
    top: -410px;
    bottom: 0px;
}
div3{
    position: absolute;
    left: 150px;
    display: flex;
}
div4{
    display: inline-block;
    position: absolute;
    top: 3550px;
}
/*TOOLTIPS FOR IMAGES*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    font-family: 'trenchthin';
    font-weight: bold;
    font-size: 26px;
    visibility: hidden;
    width: 300px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    bottom: 120%;
    left: -30%;
    margin-left: -35px;
    background-color: rgb(182, 166, 166,0.85);
    color: #000000;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -10%;
    margin-left: 85px;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(182, 166, 166,0.85) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*ZOOM EFFECT*/
.zoom {
    font-family: 'milford';
    font-size: 18px;
    color: #b9abab;
    text-shadow: 2px 1px 8px rgba(224, 91, 2, 0.507);
    display: block;
    width: 350px;
    height: 600px;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(17, 16, 16, 0.815);
    box-shadow: 5px 0px 8px rgba(233, 117, 39, 0.507);
    transition: transform .2s;
}
.zoom:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
}